table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 1em;
}

.color_red { color: crimson; }
.color_yellow { color: darkorange; }
.color_green { color: green; }
.tabul { padding-left: 5em; border-left: inset; }