table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 1em;
}

.color_red { color: crimson; }
.color_yellow { color: darkorange; }
.color_green { color: green; }
.color_fiolet { color: blueviolet; }

.backgrn_color_red { background-color: #ed143d40; }

.tabul {
    padding-left: 5em;
    border-left: inset;
}

.accordion-item { /*pass*/ }

.accordion-header { cursor: pointer; }

.accordion-content { display: none; }

.sotr-titles:hover {
    cursor: pointer;
    color: green;
    position: relative;
}

.sotr-titles-info { display: none; }

.sotr-titles:hover .sotr-titles-info {
    display: block;
    position: absolute;
    top: -1.5em;
}

.loader {
    background-color: #19191a7d;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 99;
}

.loader-text {
    font-size: 10em;
    color: aliceblue;
    z-index: 100;
}

a:hover { color: deeppink; }